@import "../sass/utils/variables.scss";
@import "../sass/utils/mixins.scss";
@import "../sass/utils/helpers.scss";

@import "../sass/components/general";
@import "../sass/components/page-header";
@import "../sass/components/page-footer";
@import "../sass/components/heroModalForm";
@import "../sass/components/heroModalMEnu";

* {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  text-decoration: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  font-family: "DM Sans";
  font-weight: 400;
}
