:root {
    --brand-color: #D41443;
    --primary1-color: #FFB8CA;
    --primary2-color: #F0D1A5;
    --primary3-color: #C2E297;
    --secondary1-color: #FFA5BA;
    --bg-color: #FFF5F6;
    --white-color: #fff;
    --main-font: "DM Sans", sans-serif;
  }