:root {
  --gray-color: #d9d9d9;
  --black-color: #000000;
  --white-color: #fff;

  --brand-color: #d41443;
  --primary1-color: #ffb8ca;
  --primary2-color: #f0d1a5;
  --primary3-color: #c2e297;

  --secondary1-color: #ffa5ba;
  --secondary2-color: #fafafa;

  --bg-color: #fff5f6;
  --bg-color2: #e5e5e5;
  --modal-color: #e17992;

  --main-font: "DM Sans", sans-serif;
  --second-font: "Titan One", sans-serif;
  --max-width: 100%;
  --paragraph-color: rgba(144, 126, 130, 1);
}
