* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.64;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

img {
  display: block;
  max-width: var(--max-width);
  height: auto;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  @include center;
  &--link {
    text-decoration: none;
  }
  &--unstyled-list {
    list-style-type: none;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
