/* Buy now modal window */
/* Modal stilization */

/* Stilizarea ferestrei */
.modal {
  position: fixed;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::before {
    content: " ";
  }
  &-inner {
    width: 528px;
    height: 581px;
    background-color: var(--primary1-color);
    position: relative;
    top: 100px;
    z-index: 500;
  }
  &-close {
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 10px;
    color: var(--brand-color);
    svg {
      fill: none;
      stroke: var(--brand-color);
    }
  }
  .hero__title {
    margin-left: auto;
    margin-right: auto;
    color: var(--brand-color);
    margin-top: 30px;
    max-width: 200px;
    text-align: center;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  input {
    height: 40px;
    padding-left: 20px;
    border-radius: 8px;
    font-size: 16px;
    color: #1c1a1d;
    border: 0.5px solid var(--brand-color);
    outline: none;
    background-color: var(--bg-color);
    &:focus::placeholder,
    &:hover::placeholder {
      color: var(--brand-color);
    }
  }
  textarea {
    height: 100px;
    border-radius: 8px;
    resize: none;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 16px;
    color: #1c1a1d;
    border: 0.5px solid var(--brand-color);
    outline: none;
    background-color: var(--bg-color);
    &:focus::placeholder,
    &:hover::placeholder {
      color: var(--brand-color);
    }
  }
}

.form__button {
  border: none;
  outline: none;
  border-radius: 32px;
  padding: 16px 32px;
  color: var(--brand-color);
  background-color: var(--white-color);
  font-size: 24px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

@media screen and (min-width: 1200px) {
  .modal {
    .hero__title {
      max-width: 300px;
    }
  }
}
