/* The modal window from Hero - Header section */
/* Fereastra mobile menu */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 15px;
  background-color: var(--modal-color);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .menu-container {
    width: 254px;
    height: 100vh;
    top: 0;
    right: 0;
    left: auto;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  &:hover {
    color: var(--brand-color);
  }
}

.close-menu {
  background: transparent;
  box-shadow: none;
  position: relative;
  left: 85%;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  color: var(--white-color);
  margin-bottom: 0px;
}

.close-menu > svg {
  fill: currentColor;
}

.modal__button {
  color: var(--brand-color);
  background-color: white;
  font-size: 16px;
  line-height: 1.3;
  border: none;
  outline: none;
  border-radius: 22px;
  padding: 8px 68px;
  margin-bottom: 32px;
  margin-top: 26px;
  max-width: 230px;
  align-self: center;
  &:hover {
    transform: translateY(-15px);
    //font-weight: 700;
    transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header__button__icon {
  width: 8px;
  height: 16px;
  margin-left: 12px;
  position: relative;
  top: 3px;
}
