@import "../utils/variables";
.goal-section {
  width: 100%;
  margin: 0 auto;
  background-image: url("/src/images/pictures/background-pic/Background-760.png");
  background-repeat: no-repeat;
}
.container-flex {
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
}
.our-goal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.list-section {
  width: 100%;
  margin: 0 auto;
}
.paragraph-section {
  width: 100%;
  margin: 0 auto 30px;
  padding: 30px;
}
.pink-image {
  display: none;
}
.description-list {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.description-item {
  flex-basis: calc((100% - 65px) / 2);
  height: 133px;
  border: 1px solid var(--primary1-color);
  border-radius: 20px;
  background-color: var(--bg-color);
  text-align: center;
  box-shadow: 1px 0 2px var(--primary1-color), 1px 0 1px var(--primary1-color),
    3px 0 1px var(--primary1-color);
  transition-property: transform;
  &:hover {
    transform: scale(1.2);
    transition-duration: 500ms;
  }
}
.description-item:nth-child(2n) {
  position: relative;
  top: 30px;
}
.awards {
  color: var(--black-color);
  font-family: var(--main-font);
  font-weight: 700px;
  font-size: 42px;
  line-height: 1.85;
  padding: 0;
  margin: 0;
  &::after {
    content: "+";
    color: var(--brand-color);
    font-weight: 600px;
    font-size: 16px;
    position: relative;
    top: -20px;
  }
}
.awards-item {
  margin: 0;
  padding: 0;
  color: var(--paragraph-color);
  font-family: var(--main-font);
  font-weight: 400px;
  font-size: 11px;
  line-height: 1.85;
}
.imaging {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 780px) {
  .goal-section {
    background-image: url("/src/images/pictures/background-pic/Background-960.png");
  }
}

@media screen and (min-width: 780px) {
  .description-list {
    position: relative;
    top: -75px;
    left: 100px;
  }
  .pink-image {
    display: flex;
    margin-top: 40px;
    position: relative;
    top: -300px;
    left: -250px;
    transition-property: transform;
    &:hover {
      transform: rotate(180deg);
      transition-duration: 500ms;
    }
  }
}
@media screen and (min-width: 1280px) {
  .goal-section {
    max-width: 1600px;
    background-image: url("/src/images/pictures/background-pic/Background-1600.png");
  }
  .container-flex {
    max-width: 1280px;
    .our-goal {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
    }
    .paragraph-section {
      margin-bottom: 60px;
      text-align: left;
    }
  }
  .description-list {
    position: relative;
    top: 75px;
    left: -50px;
  }
  .pink-image {
    width: 368px;
    position: relative;
    top: 100px;
    left: -50px;
  }
}
