:root {
  --brand-color: #d41443;
  --primary1-color: #ffb8ca;
  --primary2-color: #f0d1a5;
  --primary3-color: #c2e297;
  --secondary1-color: #ffa5ba;
  --bg-color: #fff5f6;
  --white-color: #fff;
  --modal-color: #e17992;
  --paragraph-color: rgba(144, 126, 130, 1);
  --writing-color: #000;
  --max-width: 1200px;
}
